## Import and Analyze Data

In [8]:
import pandas

### Import churn data csv and display first five rows

In [9]:
df = pandas.read_csv('/Users/Richard/Documents/MSDA/Databases/Churn DB/churn_raw_data.csv')
data = df.head(5)
print(data)

   Unnamed: 0  CaseOrder Customer_id                           Interaction  \
0           1          1     K409198  aa90260b-4141-4a24-8e36-b04ce1f4f77b
1           2          2     S120509  fb76459f-c047-4a9d-8af9-e0f7d4ac2524
2           3          3     K191035  344d114c-3736-4be5-98f7-c72c281e2d35
3           4          4      D90850  abfa2b40-2d43-4994-b15a-989b8c79e311
4           5          5     K662701  68a861fd-0d20-4e51-a587-8a90407ee574

          City State                 County    Zip       Lat        Lng  ...  \
0  Point Baker    AK  Prince of Wales-Hyder  99927  56.25100 -133.37571  ...
1  West Branch    MI                 Ogemaw  48661  44.32893  -84.24080  ...
2      Yamhill    OR                Yamhill  97148  45.35589 -123.24657  ...
3      Del Mar    CA              San Diego  92014  32.96687 -117.24798  ...
4    Needville    TX              Fort Bend  77461  29.38012  -95.80673  ...

   MonthlyCharge Bandwidth_GB_Year item1 item2  item3  item4 item5 item6  \
0     171.449762        904.536110     5     5      5      3     4     4
1     242.948015        800.982766     3     4      3      3     4     3
2     159.440398       2054.706961     4     4      2      4     4     3
3     120.249493       2164.579412     4     4      4      2     5     4
4     150.761216        271.493436     4     4      4      3     4     4

   item7 item8
0      3     4
1      4     4
2      3     3
3      3     3
4      4     5

[5 rows x 52 columns]

### Displaying number of rows and columns

In [14]:
df = pandas.read_csv('/Users/Richard/Documents/MSDA/Databases/Churn DB/churn_raw_data.csv')
data = df.shape
print(data)

(10000, 52)

### Displaying column names

In [17]:
df = pandas.read_csv('/Users/Richard/Documents/MSDA/Databases/Churn DB/churn_raw_data.csv')
data = df.columns
print(data)

Index(['Unnamed: 0', 'CaseOrder', 'Customer_id', 'Interaction', 'City',
       'State', 'County', 'Zip', 'Lat', 'Lng', 'Population', 'Area',
       'Timezone', 'Job', 'Children', 'Age', 'Education', 'Employment',
       'Income', 'Marital', 'Gender', 'Churn', 'Outage_sec_perweek', 'Email',
       'Contacts', 'Yearly_equip_failure', 'Techie', 'Contract', 'Port_modem',
       'Tablet', 'InternetService', 'Phone', 'Multiple', 'OnlineSecurity',
       'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
       'StreamingMovies', 'PaperlessBilling', 'PaymentMethod', 'Tenure',
       'MonthlyCharge', 'Bandwidth_GB_Year', 'item1', 'item2', 'item3',
       'item4', 'item5', 'item6', 'item7', 'item8'],
      dtype='object')

### Displaying mean, count, min, and max

In [19]:
df = pandas.read_csv('/Users/Richard/Documents/MSDA/Databases/Churn DB/churn_raw_data.csv')
data = df.describe()
print(data)

        Unnamed: 0    CaseOrder           Zip           Lat           Lng  \
count  10000.00000  10000.00000  10000.000000  10000.000000  10000.000000
mean    5000.50000   5000.50000  49153.319600     38.757567    -90.782536
std     2886.89568   2886.89568  27532.196108      5.437389     15.156142
min        1.00000      1.00000    601.000000     17.966120   -171.688150
25%     2500.75000   2500.75000  26292.500000     35.341828    -97.082812
50%     5000.50000   5000.50000  48869.500000     39.395800    -87.918800
75%     7500.25000   7500.25000  71866.500000     42.106908    -80.088745
max    10000.00000  10000.00000  99929.000000     70.640660    -65.667850

          Population     Children          Age         Income  \
count   10000.000000  7505.000000  7525.000000    7510.000000
mean     9756.562400     2.095936    53.275748   39936.762226
std     14432.698671     2.154758    20.753928   28358.469482
min         0.000000     0.000000    18.000000     740.660000
25%       738.000000     0.000000    35.000000   19285.522500
50%      2910.500000     1.000000    53.000000   33186.785000
75%     13168.000000     3.000000    71.000000   53472.395000
max    111850.000000    10.000000    89.000000  258900.700000

       Outage_sec_perweek  ...  MonthlyCharge  Bandwidth_GB_Year  \
count        10000.000000  ...   10000.000000        8979.000000
mean            11.452955  ...     174.076305        3398.842752
std              7.025921  ...      43.335473        2187.396807
min             -1.348571  ...      77.505230         155.506715
25%              8.054362  ...     141.071078        1234.110529
50%             10.202896  ...     169.915400        3382.424000
75%             12.487644  ...     203.777441        5587.096500
max             47.049280  ...     315.878600        7158.982000

              item1         item2         item3         item4         item5  \
count  10000.000000  10000.000000  10000.000000  10000.000000  10000.000000
mean       3.490800      3.505100      3.487000      3.497500      3.492900
std        1.037797      1.034641      1.027977      1.025816      1.024819
min        1.000000      1.000000      1.000000      1.000000      1.000000
25%        3.000000      3.000000      3.000000      3.000000      3.000000
50%        3.000000      4.000000      3.000000      3.000000      3.000000
75%        4.000000      4.000000      4.000000      4.000000      4.000000
max        7.000000      7.000000      8.000000      7.000000      7.000000

              item6         item7         item8
count  10000.000000  10000.000000  10000.000000
mean       3.497300      3.509500      3.495600
std        1.033586      1.028502      1.028633
min        1.000000      1.000000      1.000000
25%        3.000000      3.000000      3.000000
50%        3.000000      4.000000      3.000000
75%        4.000000      4.000000      4.000000
max        8.000000      7.000000      8.000000

[8 rows x 24 columns]

### Displaying the variable type

In [20]:
df = pandas.read_csv('/Users/Richard/Documents/MSDA/Databases/Churn DB/churn_raw_data.csv')
data = df.dtypes
print(data)

Unnamed: 0                int64
CaseOrder                 int64
Customer_id              object
Interaction              object
City                     object
State                    object
County                   object
Zip                       int64
Lat                     float64
Lng                     float64
Population                int64
Area                     object
Timezone                 object
Job                      object
Children                float64
Age                     float64
Education                object
Employment               object
Income                  float64
Marital                  object
Gender                   object
Churn                    object
Outage_sec_perweek      float64
Email                     int64
Contacts                  int64
Yearly_equip_failure      int64
Techie                   object
Contract                 object
Port_modem               object
Tablet                   object
InternetService          object
Phone                    object
Multiple                 object
OnlineSecurity           object
OnlineBackup             object
DeviceProtection         object
TechSupport              object
StreamingTV              object
StreamingMovies          object
PaperlessBilling         object
PaymentMethod            object
Tenure                  float64
MonthlyCharge           float64
Bandwidth_GB_Year       float64
item1                     int64
item2                     int64
item3                     int64
item4                     int64
item5                     int64
item6                     int64
item7                     int64
item8                     int64
dtype: object

### Displaying unique values (Age)

In [22]:
df = pandas.read_csv('/Users/Richard/Documents/MSDA/Databases/Churn DB/churn_raw_data.csv')
data = df['Age'].unique()
print(data)

[68. 27. 50. 48. 83. nan 49. 86. 23. 56. 30. 39. 63. 60. 61. 52. 75. 77.
 47. 70. 69. 45. 40. 82. 26. 25. 66. 72. 41. 44. 43. 84. 59. 31. 51. 58.
 73. 33. 42. 81. 87. 54. 67. 46. 24. 20. 71. 32. 29. 80. 53. 79. 65. 35.
 34. 74. 55. 76. 57. 38. 78. 19. 36. 88. 62. 37. 28. 22. 85. 89. 18. 21.
 64.]

### Displaying unique values and number of times each value appears

In [24]:
df = pandas.read_csv('/Users/Richard/Documents/MSDA/Databases/Churn DB/churn_raw_data.csv')
data = df['Age'].value_counts()
print(data)

55.0    128
41.0    122
77.0    121
80.0    120
57.0    120
       ...
87.0     92
59.0     92
78.0     92
18.0     90
47.0     87
Name: Age, Length: 72, dtype: int64