## Outliers

In [8]:
import pandas
import numpy

### Import the dataset

In [2]:
df = pandas.read_csv('/Users/Richard/Documents/MSDA/Databases/Churn DB/churn_raw_data.csv')

### Display the number of values missing

In [3]:
df = pandas.read_csv('/Users/Richard/Documents/MSDA/Databases/Churn DB/churn_raw_data.csv')
data = df.isnull().sum()
print(data)

Unnamed: 0                 0
CaseOrder                  0
Customer_id                0
Interaction                0
City                       0
State                      0
County                     0
Zip                        0
Lat                        0
Lng                        0
Population                 0
Area                       0
Timezone                   0
Job                        0
Children                2495
Age                     2475
Education                  0
Employment                 0
Income                  2490
Marital                    0
Gender                     0
Churn                      0
Outage_sec_perweek         0
Email                      0
Contacts                   0
Yearly_equip_failure       0
Techie                  2477
Contract                   0
Port_modem                 0
Tablet                     0
InternetService            0
Phone                   1026
Multiple                   0
OnlineSecurity             0
OnlineBackup               0
DeviceProtection           0
TechSupport              991
StreamingTV                0
StreamingMovies            0
PaperlessBilling           0
PaymentMethod              0
Tenure                   931
MonthlyCharge              0
Bandwidth_GB_Year       1021
item1                      0
item2                      0
item3                      0
item4                      0
item5                      0
item6                      0
item7                      0
item8                      0
dtype: int64

### Identifying standard deviation

In [4]:
df = pandas.read_csv('/Users/Richard/Documents/MSDA/Databases/Churn DB/churn_raw_data.csv')
data = df.std()
print(data)

Unnamed: 0               2886.895680
CaseOrder                2886.895680
Zip                     27532.196108
Lat                         5.437389
Lng                        15.156142
Population              14432.698671
Children                    2.154758
Age                        20.753928
Income                  28358.469482
Outage_sec_perweek          7.025921
Email                       3.025898
Contacts                    0.988466
Yearly_equip_failure        0.635953
Tenure                     26.438904
MonthlyCharge              43.335473
Bandwidth_GB_Year        2187.396807
item1                       1.037797
item2                       1.034641
item3                       1.027977
item4                       1.025816
item5                       1.024819
item6                       1.033586
item7                       1.028502
item8                       1.028633
dtype: float64

### Displaying duplicate rows

In [5]:
df = pandas.read_csv('/Users/Richard/Documents/MSDA/Databases/Churn DB/churn_raw_data.csv')
data = df.loc[df.duplicated()]
print(data)

Empty DataFrame
Columns: [Unnamed: 0, CaseOrder, Customer_id, Interaction, City, State, County, Zip, Lat, Lng, Population, Area, Timezone, Job, Children, Age, Education, Employment, Income, Marital, Gender, Churn, Outage_sec_perweek, Email, Contacts, Yearly_equip_failure, Techie, Contract, Port_modem, Tablet, InternetService, Phone, Multiple, OnlineSecurity, OnlineBackup, DeviceProtection, TechSupport, StreamingTV, StreamingMovies, PaperlessBilling, PaymentMethod, Tenure, MonthlyCharge, Bandwidth_GB_Year, item1, item2, item3, item4, item5, item6, item7, item8]
Index: []

[0 rows x 52 columns]

### Dropping Duplicates

In [6]:
df = pandas.read_csv('/Users/Richard/Documents/MSDA/Databases/Churn DB/churn_raw_data.csv')
df.drop_duplicates(inplace=True)

### Defining an outlier

In [13]:
df = pandas.read_csv('/Users/Richard/Documents/MSDA/Databases/Churn DB/churn_raw_data.csv')
children_z = (df['Children'] - df['Children'].mean()) /df['Children'].std()
data = df.loc[(children_z > 3) | (children_z < -3)]
print(data)

      Unnamed: 0  CaseOrder Customer_id                           Interaction  \
30            31         31     L357432  79b827eb-46b9-4737-8484-0b670171bc4b
97            98         98     N417817  832e769e-3b90-47cc-8f70-12e77fbd52a2
144          145        145     Q541158  f67c47f8-93da-4b90-babe-4cd9b9deebf6
329          330        330     T369132  bad7853a-c59b-4775-ad6d-05ff1d14c4b4
334          335        335     O402306  c8ffb29f-7ee4-4883-8698-f6936607cd04
...          ...        ...         ...                                   ...
9599        9600       9600     J345464  b1e94ff4-ff0c-49b8-9a9d-8065ddb10cc8
9623        9624       9624     Q831134  5b4ad141-b338-4638-9b10-1d0e2ce826b5
9790        9791       9791     U741276  5c3198d1-4138-4ba8-b0b9-652748f0c127
9871        9872       9872     F573675  71c2c800-8cee-434b-b60a-efa9ecbacf38
9901        9902       9902     O774002  569131f4-71f4-4e59-9176-e4f8f7b7bbe1

                  City State       County    Zip       Lat        Lng  ...  \
30          Whitesboro    NY       Oneida  13492  43.11988  -75.32875  ...
97         Beaverville    IL     Iroquois  60912  40.97003  -87.59935  ...
144         Saint Paul    MN       Ramsey  55107  44.93099  -93.07957  ...
329          Maryville    TN       Blount  37801  35.66815  -84.08767  ...
334             Salmon    ID        Lemhi  83467  45.00975 -113.89910  ...
...                ...   ...          ...    ...       ...        ...  ...
9599           Lovejoy    IL    St. Clair  62059  38.65652  -90.16503  ...
9623     Granada Hills    CA  Los Angeles  91344  34.29392 -118.50750  ...
9790  Colorado Springs    CO      El Paso  80930  38.81433 -104.50240  ...
9871            Holton    IN       Ripley  47023  39.07935  -85.38150  ...
9901            Kaaawa    HI     Honolulu  96730  21.54614 -157.85110  ...

      MonthlyCharge Bandwidth_GB_Year item1 item2  item3  item4 item5 item6  \
30       230.964891       1795.465729     3     2      1      5     3     3
97       188.611913       1956.733700     3     2      2      4     3     2
144      136.870564        819.419527     4     4      3      3     2     3
329      221.913604       1973.661316     4     3      4      2     5     3
334      127.617949       1451.201108     3     2      2      3     4     4
...             ...               ...   ...   ...    ...    ...   ...   ...
9599     130.854100       4968.246000     4     4      4      5     2     6
9623     173.170700       6432.294000     4     5      5      3     5     3
9790     243.035600       6900.075000     3     4      4      3     4     4
9871     144.145200               NaN     3     3      3      3     4     3
9901     223.945600       6680.275000     4     4      4      4     3     4

      item7 item8
30        3     2
97        3     2
144       4     2
329       4     3
334       4     5
...     ...   ...
9599      4     4
9623      4     2
9790      4     2
9871      4     4
9901      3     4

[144 rows x 52 columns]

### Dropping a column

In [26]:
df = pandas.read_csv('/Users/Richard/Documents/MSDA/Databases/Churn DB/churn_raw_data.csv')
df.drop(columns='Interaction',inplace=True)

### Fixing column values

In [ ]:
df = pd.read_csv('/home/ucertify/Boston_housing_data.csv')
df['locationzone'] = [i if i[1] in '0123456789' else i[0]+'5' for i in df['locationzone']]
print(df['locationzone'])

### Imputing missing values

In [ ]:
df = pandas.read_csv('/Users/Richard/Documents/MSDA/Databases/Churn DB/churn_raw_data.csv')
df.loc[df['locationdistrict'].isnull(),'locationdistrict'] = df.loc[df['locationdistrict'].isnull(),'locationzone'].apply(lambda x: x[0])
print(df['locationdistrict'].unique())

### Creating a separate dataset

In [ ]:
df = pd.read_csv('/home/ucertify/Boston_housing_data.csv')
df2 = df.loc[df['locationdistrict'].isin(['H','J','N'])][['locationzone','locationdistrict','date_appraised','medv']]