## Outliers PT 2

In [1]:
import pandas

### Displaying the values

In [2]:
df = pandas.read_csv('/Users/Richard/Documents/MSDA/Databases/Churn DB/churn_raw_data.csv')
df = df.groupby(['Education','Employment']).size()
print(df)

Education                                 Employment
9th Grade to 12th Grade, No Diploma       Full Time      509
                                          Part Time       83
                                          Retired        100
                                          Student        103
                                          Unemployed      75
Associate's Degree                        Full Time      453
                                          Part Time       77
                                          Retired         79
                                          Student         69
                                          Unemployed      82
Bachelor's Degree                         Full Time      988
                                          Part Time      181
                                          Retired        164
                                          Student        185
                                          Unemployed     185
Doctorate Degree                          Full Time       68
                                          Part Time       11
                                          Retired          9
                                          Student         11
                                          Unemployed      17
GED or Alternative Credential             Full Time      228
                                          Part Time       42
                                          Retired         38
                                          Student         34
                                          Unemployed      45
Master's Degree                           Full Time      458
                                          Part Time       77
                                          Retired         86
                                          Student         68
                                          Unemployed      75
No Schooling Completed                    Full Time       76
                                          Part Time        9
                                          Retired         14
                                          Student          9
                                          Unemployed      10
Nursery School to 8th Grade               Full Time      258
                                          Part Time       53
                                          Retired         49
                                          Student         44
                                          Unemployed      45
Professional School Degree                Full Time      128
                                          Part Time       19
                                          Retired         11
                                          Student         19
                                          Unemployed      21
Regular High School Diploma               Full Time     1456
                                          Part Time      255
                                          Retired        253
                                          Student        221
                                          Unemployed     236
Some College, 1 or More Years, No Degree  Full Time      963
                                          Part Time      154
                                          Retired        145
                                          Student        143
                                          Unemployed     157
Some College, Less than 1 Year            Full Time      407
                                          Part Time       81
                                          Retired         63
                                          Student         58
                                          Unemployed      43
dtype: int64

### Displaying the length

In [3]:
df = pandas.read_csv('/Users/Richard/Documents/MSDA/Databases/Churn DB/churn_raw_data.csv')
data = df['Income'].astype(str).str.len().unique()
print(data)

[8 3 7 9 6]

### Ensuring column values

In [ ]:
df = pandas.read_csv('/Users/Richard/Documents/MSDA/Databases/Churn DB/churn_raw_data.csv')
df['date_appraised'].unique()
print(df['date_appraised'])

### Creating a new column

In [ ]:
df = pandas.read_csv('/Users/Richard/Documents/MSDA/Databases/Churn DB/churn_raw_data.csv')
df['month_appraised'] = df['date_appraised'].apply(lambda x: str(x)[:7])
df['month_appraised'].unique()