# Correcting Anomalies in the Churn Dataset

### Import Libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

### Import churn_raw_data.csv dataset

In [2]:
df = pd.read_csv('/Users/Richard/OneDrive - Western Governors University/MSDA/Databases/Churn DB/churn_raw_data.csv')

In [3]:
print(df)

      Unnamed: 0  CaseOrder Customer_id                           Interaction  \
0              1          1     K409198  aa90260b-4141-4a24-8e36-b04ce1f4f77b
1              2          2     S120509  fb76459f-c047-4a9d-8af9-e0f7d4ac2524
2              3          3     K191035  344d114c-3736-4be5-98f7-c72c281e2d35
3              4          4      D90850  abfa2b40-2d43-4994-b15a-989b8c79e311
4              5          5     K662701  68a861fd-0d20-4e51-a587-8a90407ee574
...          ...        ...         ...                                   ...
9995        9996       9996     M324793  45deb5a2-ae04-4518-bf0b-c82db8dbe4a4
9996        9997       9997     D861732  6e96b921-0c09-4993-bbda-a1ac6411061a
9997        9998       9998     I243405  e8307ddf-9a01-4fff-bc59-4742e03fd24f
9998        9999       9999     I641617  3775ccfc-0052-4107-81ae-9657f81ecdf3
9999       10000      10000      T38070  9de5fb6e-bd33-4995-aec8-f01d0172a499

              City State                 County    Zip       Lat        Lng  \
0      Point Baker    AK  Prince of Wales-Hyder  99927  56.25100 -133.37571
1      West Branch    MI                 Ogemaw  48661  44.32893  -84.24080
2          Yamhill    OR                Yamhill  97148  45.35589 -123.24657
3          Del Mar    CA              San Diego  92014  32.96687 -117.24798
4        Needville    TX              Fort Bend  77461  29.38012  -95.80673
...            ...   ...                    ...    ...       ...        ...
9995   Mount Holly    VT                Rutland   5758  43.43391  -72.78734
9996   Clarksville    TN             Montgomery  37042  36.56907  -87.41694
9997      Mobeetie    TX                Wheeler  79061  35.52039 -100.44180
9998    Carrollton    GA                Carroll  30117  33.58016  -85.13241
9999  Clarkesville    GA              Habersham  30523  34.70783  -83.53648

      ...  MonthlyCharge Bandwidth_GB_Year item1 item2  item3  item4 item5  \
0     ...     171.449762        904.536110     5     5      5      3     4
1     ...     242.948015        800.982766     3     4      3      3     4
2     ...     159.440398       2054.706961     4     4      2      4     4
3     ...     120.249493       2164.579412     4     4      4      2     5
4     ...     150.761216        271.493436     4     4      4      3     4
...   ...            ...               ...   ...   ...    ...    ...   ...
9995  ...     159.828800       6511.253000     3     2      3      3     4
9996  ...     208.856400       5695.952000     4     5      5      4     4
9997  ...     168.220900       4159.306000     4     4      4      4     4
9998  ...     252.628600       6468.457000     4     4      6      4     3
9999  ...     218.371000       5857.586000     2     2      3      3     3

     item6  item7 item8
0        4      3     4
1        3      4     4
2        3      3     3
3        4      3     3
4        4      4     5
...    ...    ...   ...
9995     3      2     3
9996     5      2     5
9997     4      4     5
9998     3      5     4
9999     3      4     1

[10000 rows x 52 columns]

### Drop unnecessary ‘Unnamed: 0’ column

In [4]:
df = df.drop('Unnamed: 0', 1)

### ‘Children’ change values from NA/NaN to 0

In [5]:
df["Children"].fillna("0", inplace = True)

### ‘Age’ Impute for NA/NAN values

In [6]:
med = df['Age'].median()
df['Age'] = df['Age'].fillna(med)

### ‘Income’ Impute for NA/NAN values

In [7]:
med = df['Income'].median()
df['Income'] = df['Income'].fillna(med)

### ‘Technie’ change values from NA/NaN to No

In [8]:
df["Techie"].fillna("No", inplace = True)

### ‘Phone’ change values from NA/NaN to No

In [9]:
df["Phone"].fillna("No", inplace = True)

### ‘TechSupport’ change values from NA/NaN to No

In [10]:
df["TechSupport"].fillna("No", inplace = True)

### ‘Tenure’ Impute for NA/NAN values

In [11]:
med = df['Tenure'].median()
df['Tenure'] = df['Tenure'].fillna(med)

### ‘Bandwidth_GB_Year’ Impute for NA/NAN values

In [12]:
med = df['Bandwidth_GB_Year'].median()
df['Bandwidth_GB_Year'] = df['Bandwidth_GB_Year'].fillna(med)

In [13]:
print(df)

      CaseOrder Customer_id                           Interaction  \
0             1     K409198  aa90260b-4141-4a24-8e36-b04ce1f4f77b
1             2     S120509  fb76459f-c047-4a9d-8af9-e0f7d4ac2524
2             3     K191035  344d114c-3736-4be5-98f7-c72c281e2d35
3             4      D90850  abfa2b40-2d43-4994-b15a-989b8c79e311
4             5     K662701  68a861fd-0d20-4e51-a587-8a90407ee574
...         ...         ...                                   ...
9995       9996     M324793  45deb5a2-ae04-4518-bf0b-c82db8dbe4a4
9996       9997     D861732  6e96b921-0c09-4993-bbda-a1ac6411061a
9997       9998     I243405  e8307ddf-9a01-4fff-bc59-4742e03fd24f
9998       9999     I641617  3775ccfc-0052-4107-81ae-9657f81ecdf3
9999      10000      T38070  9de5fb6e-bd33-4995-aec8-f01d0172a499

              City State                 County    Zip       Lat        Lng  \
0      Point Baker    AK  Prince of Wales-Hyder  99927  56.25100 -133.37571
1      West Branch    MI                 Ogemaw  48661  44.32893  -84.24080
2          Yamhill    OR                Yamhill  97148  45.35589 -123.24657
3          Del Mar    CA              San Diego  92014  32.96687 -117.24798
4        Needville    TX              Fort Bend  77461  29.38012  -95.80673
...            ...   ...                    ...    ...       ...        ...
9995   Mount Holly    VT                Rutland   5758  43.43391  -72.78734
9996   Clarksville    TN             Montgomery  37042  36.56907  -87.41694
9997      Mobeetie    TX                Wheeler  79061  35.52039 -100.44180
9998    Carrollton    GA                Carroll  30117  33.58016  -85.13241
9999  Clarkesville    GA              Habersham  30523  34.70783  -83.53648

      Population  ... MonthlyCharge Bandwidth_GB_Year item1 item2  item3  \
0             38  ...    171.449762        904.536110     5     5      5
1          10446  ...    242.948015        800.982766     3     4      3
2           3735  ...    159.440398       2054.706961     4     4      2
3          13863  ...    120.249493       2164.579412     4     4      4
4          11352  ...    150.761216        271.493436     4     4      4
...          ...  ...           ...               ...   ...   ...    ...
9995         640  ...    159.828800       6511.253000     3     2      3
9996       77168  ...    208.856400       5695.952000     4     5      5
9997         406  ...    168.220900       4159.306000     4     4      4
9998       35575  ...    252.628600       6468.457000     4     4      6
9999       12230  ...    218.371000       5857.586000     2     2      3

     item4 item5  item6 item7 item8
0        3     4      4     3     4
1        3     4      3     4     4
2        4     4      3     3     3
3        2     5      4     3     3
4        3     4      4     4     5
...    ...   ...    ...   ...   ...
9995     3     4      3     2     3
9996     4     4      5     2     5
9997     4     4      4     4     5
9998     4     3      3     5     4
9999     3     3      3     4     1

[10000 rows x 51 columns]